.tags {
  margin: 20px 0px 30px 10px;
  display: flex;
  flex-wrap: wrap;
}

.icon-group {
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.item-details {
  display: flex;
  flex: 1;
  justify-content: space-between;

}

.icon-group > .icon {
  display: flex;
  margin-right: 10px;
  align-items: center;
}
