.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
}

.tags * {
  margin: 2px;
}

.search {
  display: flex;
  flex-direction: column;
  width: 600px;
}

@media screen and (max-width: 720px) {
  .search {
    display: flex;
    flex-direction: column;
  }
}

.links {
  margin-left: 25px;
  display: flex;
  justify-content: center;
  width: 200px;
}

@media screen and (max-width: 720px) {
  .links {
    border: none;
  }
}

